
<div class="articleText">
    <div class="fb-grid__col-12">
        <h1>{{long_title}}</h1>
        <p>{{date}}</p>
    </div>
    {{#if img}}
    <div class="fb-grid__col-12">
        <img src="{{img}}" id="blogImg">
    </div>
    {{/if}}
    <div class="fb-grid__col-12">
        <p id="descr">{{descr}}</p>
        <p id="blogText">{{text}}</p>
    </div>
</div>
